
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string bakiye = Session["bakiye"].ToString();
}


<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="fa-2x">@bakiye TL</div>
                    <div>Bakiyeniz</div>
                </div>
            </div>
        </div>
        <a href="/Home/KisiGecisleri/@Session["Kullanici_id"].ToString()">
            <div class="panel-footer">
                <span class="pull-left">Detayları Görüntüle</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-book fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="fa-2x">@TempData["mesaj_sayisi"]</div>
                    <div>Mesaj!</div>
                </div>
            </div>
        </div>
        <a href="/Home/DuyurulariGoruntule">
            <div class="panel-footer">
                <span class="pull-left">Mesajları Görüntüle</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>


