@using Yemekhane_Gecis_Sistemi.Models
@model  List<SP_KISI_GECIS_RAPORU_Result>
@{
    ViewBag.Title = "KisiGecisRaporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@using (Html.BeginForm("KisiGecisRaporu", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
<div class="form-group">
    @if (ViewData["mesaj"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["mesaj"]
          
        </div>
    }
    <label for="text" class="col-sm-1 control-label">Başlangıç Tarihi</label>
    <div class="col-sm-2">

        <input type="date" class="form-control" id="baslangic_tarihi" name="baslangic_tarihi" >

    </div>

</div>
    <div class="form-group">

        <label for="text" class="col-sm-1 control-label">Bitiş Tarihi</label>
    <div class="col-sm-2">

        <input type="date" class="form-control" id="bitis_tarihi" name="bitis_tarihi" >

    </div>

</div>
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-5">
        <button type="submit" class="btn btn-primary">Rapor Al</button>
    </div>

</div>
}




