@model Yemekhane_Gecis_Sistemi.ViewModels.Unvanlar
@{
    ViewBag.Title = "Unvan Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UnvanEkle", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="alert alert-success" role="alert">
        @Model.KullaniciMesaji
    </div>
    <div class="form-group">

        <label for="default" class="col-sm-1 control-label">Unvan Adı</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.UnvanAdi, new { @class = "form-control", @placeholder = "Unvan Adını Giriniz" })
            @Html.ValidationMessageFor(x => x.UnvanAdi)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
            <button type="submit" class="btn btn-primary">Kaydet</button>

        </div>

    </div>
}

