@model Yemekhane_Gecis_Sistemi.Models.kart_bilgileri
@{
    ViewBag.Title = "GecisTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GecisTest</h2>


@using (Html.BeginForm("GecisTest", "Islem", FormMethod.Post))
{

<div class="alert alert-success" role="alert">
    @ViewData["KullaniciMesaji"] 
</div>
    <div class="form-group">

        <label for="default" class="col-sm-1 control-label">kartno gir</label>
        <div class="col-sm-5">
            @Html.TextBoxFor(x => x.kart_no, new { @class = "form-control", @placeholder = "KArt No Giriniz" })
            @Html.ValidationMessageFor(x => x.kart_no)
        </div>
    </div>

    <input type="submit" class="btn btn-success"/>
}

